
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section LoadScriptandCss
{
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->

<script src="../js/jquery-1.11.1.min.js"></script>
<!-- start menu -->
<link href="../css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="../js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js" integrity="sha512-MqEDqB7me8klOYxXXQlB4LaNf9V9S0+sG1i8LtPOYmHqICuEZ9ZLbyV3qIfADg2UJcLyCm4fawNiFvnYbcBJ1w==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css" integrity="sha512-hwwdtOTYkQwW2sedIsbuP1h0mWeJe/hFOfsvNKpRB3CkRxq8EW7QMheec1Sgd8prYxGm1OM9OZcGW7/GUud5Fw==" crossorigin="anonymous" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
      $(function() {
          $("#billdate").datepicker({
              dateFormat: "dd-MM-yy"
            });
      });
</script>
}
    <div class="container">
        <div class="reg">
            <h2>Settings</h2>
            <form>
                <ul>
                    <li class="text-info">Select Category 2: </li>
                    <li>
                        <select id="ddlusertype">
                            <option>ADMIN</option>
                            <option>USER</option>
                        </select>
                    </li>
                </ul>
                <ul>
                    <li class="text-info">Username </li>
                    <li>
                        <input id="username" type="text" value="">
                    </li>
                </ul>
                <ul>
                    <li class="text-info">Password</li>
                    <li>
                        <input id="password" type="text" value="">
                    </li>
                </ul>
                <input type="submit" value="SAVE" onclick="save();return false">
            </form>
        </div>
    </div>
    <script>
        function save() {
            debugger
            var _user = {};
            _user.UserType = $('#ddlusertype option:selected').text();
            _user.Username = $('#username').val();
            _user.Password = $('#password').val();
            $.ajax({
                type: "POST",
                url: "/admin/saveuser",
                data: JSON.stringify(_user),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    debugger
                    if (r == 'saved') {
                        swal('Settings Updated', 'CP Jewllery', success);
                        $('#ddlusertype').prop('selectedIndex', 0);
                        $('#username').val('');
                        $('#password').val('');
                    }
                    else {
                        swal('Unable to update', r, error);
                    }

                }
            });
        };
    </script>

