
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LoadScriptandCss
{
    <script src="../js/jquery-1.11.1.min.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/js/bootstrap.js"> </script>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <!-- start menu -->
    <link href="/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/js/megamenu.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>

}
<div class="container">
    <div class="reg-form">
        <div class="reg">
            <h3>About</h3>
            <p>CP Jeweller is India's leading fine jewellery discovery platform focusing on giving YOU an awesome jewellery buying experience. At CP Jeweller we strive to provide you the largest collection of curated designs for every occasion. We are not just selling jewellery, but an unparalleled jewellery buying experience at your fingertips!</p>
            <p>Shining bright with a young team focused on innovation, customer happiness and transparency, CP Jeweller addresses the growing demands of today's always on-the-go consumers to discover, explore, buy and know more about their jewellery. Our policies provide easy returns, free shipping, BIS Hallmark, 100% certified jewellery, life-time exchange, best and transparent prices and unique designs all under one roof.</p>
            <p>For precious jewellery, CP Jewellers in Salipur, Cuttack is a recognised name in the city. With rich experience in the gems and jewellery business, this firm has become a celebrated name for stunning designs and collections. They are revered for their handpicked and exclusive designs that feature in their gold and diamond jewellery collections. From classic styles to bespoke pieces, the fine craftsmanship highlights each precious piece of jewellery. Adding spark to every occasion, there is something for everyone and suitable for special events like weddings and ceremonies. Occupying an unmistakable location on the Kendrapara Road in the neighbourhood of Salipur, one can plan a visit to this showroom via any of the available modes of transport. Undoubtedly it is one of the best jewellery showrooms in Salipur, Cuttack.</p>
            <p>Find us on Facebook, Instagram and Twitter. We would love to connect with you. To share your thoughts or get your queries answered, please feel free to reach us on our contact number 0671-2358344 or send us an email at info@@cpjewellery.in.</p>
            <p>Think Jewellery, Think CP Jeweller!</p>
        </div>
    </div>

</div>