
@{
    ViewBag.Title = "RefundPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section LoadScriptandCss
{
    <script src="../js/jquery-1.11.1.min.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/js/bootstrap.js"> </script>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->

    
    <!-- start menu -->
    <link href="/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/js/megamenu.js"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>

}
<div class="container">
    <div class="reg-form">
        <div class="reg">
            <h3>Refund Policy</h3>
            <p>For products purchased online through www.cpjewellery.in refund/ exchange / return shall be entertained through www.cpjewellery.in and shall not be entertained at any other CP Jeweller showroom.</p>
            <p>For Same Day Shipping Products, easy return and exchange policy timeline is 7 days from the date of delivery, for all other orders policy time frame is of 15 days from date of delivery.</p>
            <p>For Gold Jewellery – 100% exchange for the invoice value of the product within policy timeframe, this facility can be availed only one time.</p>
            <p>For Diamond Jewellery - 100% refund/exchange for the invoice value of the product within policy timeframe, this facility can be availed only one time.</p>
            <p>For Gold Coins – 99% of the current value of gold, calculated based on current gold price. (Gold rate X Gold Wt).</p>
            <p>For ICC Gold, Silver Coins, Silver Jewellery & Silver Rakhi - No return policy</p>
        </div>
    </div>
    <div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        What is the procedure for availing this Policy?
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>Call our Customer Care team at 0671-2358344 or email us at info@cpjewellery.in and place your exchange/ return request.</p>
                    <p>Secure your product with the original invoice, certificate(s), jewellery box, etc. Call our Customer Care team to inform once the secured envelope is ready and we will arrange for a pick up. Please ensure that you do not give open packets to our representative who comes to collect the product. Upon a quick quality check of the received product at our end, our Customer Care team would process the refund/exchange. We are fully committed to ensure that you are 100% confident and satisfied with your purchase. Therefore, we give you the flexibility of further exchanging the jewellery piece selected by you (and already exchanged once), within a period of 5 days from receiving the new jewellery piece by you. All subsequent request will taken under lifetime buyback policy.</p>
                    <p>Please note that products purchased at CP Jeweller online cannot be returned or exchanged at CP Jeweller showroom.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Are there any charges for shipping the product?
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    We offer one time FREE return shipping (within India) within the Easy Returns and Exchange Policy. For all the subsequent returns/exchanges under this policy, the shipping charges shall be borne by the Customer.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        What if the product gets damaged?
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    The product should be in new condition and damaged/ worn-out products will not be accepted under the Easy Returns and Exchange Policy.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        What are the conditions for the Policy?
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    <p>Items that have been reworked by third party jeweller, customized designs or pieces with personalized engraving cannot be returned or exchanged.</p>
                    <p>The product should be original and accompanied with Original Product Certificate, Original Invoice and Bills. In case the customer cannot produce the original certificate, we will send the product to the Lab for recertification before processing the Return/ Exchange under the Easy Returns and Exchange policy. The shipping cost and the cost of such certification shall be borne by the customer.</p>
                    <p>The policy is applicable for orders delivered within India only.</p>
                    <p>Our products are also available at marketplaces like Amazon.in, TataCliq.com and Flipkart.com. Our products sold at these websites are governed by Return and Exchange policies of these respective websites and any Return/Exchange related requests in such cases will have to be routed through them. CP Jeweller will not be able to directly process Easy Returns and Exchange in such cases.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        What is Lifetime Exchange and Buy-Back Policy?
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    <p>In case you have a change of heart and wish to return the product to us after the expiry of Easy Returns and Exchange Policy, we’ll happily exchange it for you or offer you a refund on the basis of the policy </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="reg-form">
        <div class="reg">
            <h3>Cancellation Policy</h3>
            <p>In case of any discrepancy we can cancel any of the orders. A few reasons for cancellation from our end usually include limitation of the product in the inventory, error in pricing, error in product information etc. We also have the right to check out for extra information for the purpose of accepting orders in a few cases. We make sure to notify you if in case your order is cancelled partially or completely or if in case any extra data is required for the purpose of accepting your order.</p>
            <p>Gold Coin cancellation is not allowed under any circumstances</p>
            <p>Gold Jewellery cancellation is not allowed for orders received after 17-Apr-2020, however customer can chose a different product of same/ higher value.</p>
            <p>Diamond Jewellery- Cancellation fees of 2% is levied remaining 98% is refunded back to your account</p>
            <p>For ICC Gold, Silver Coins, Silver Jewellery & Silver Rakhi - No cancellation policy</p>
            <p>What is Easy Returns and Exchange Policy for product purchased on cpjewellery.in?</p>
            <p>To ensure you are confident about your purchase, we have an Easy Returns and Exchange Policy, which gives you enough time to be in no doubt that you have made the right decision of buying jewellery from CP Jeweller Should you have any problem with the jewellery piece, you can choose to return it back and claim refund or exchange within the policy time frame.</p>
            <p>For products purchased online through cpjewellery.in refund/ exchange / return shall be entertained through www.cpjewellery.in and shall not be entertained at any other CP Jeweller showroom.</p>
            <p>Duration: For Same Day Shipping Products, easy return and exchange policy timeline is 7 days from the date of delivery, for all other orders policy time frame is of 15 days from date of delivery.</p>
        </div>
    </div>

</div>

