
@{
    ViewBag.Title = "Failed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section LoadScriptandCss
{
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="~/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <!-- start-smoth-scrolling -->
    <!-- start menu -->
    <link href="~/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/js/megamenu.js"></script>
    <script src="~/js/menu_jquery.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
}
<div class="reg-form">
    <div class="container">
        <div class="reg">
            <h3><img src="~/images/fail.png" />Payment Failed</h3>
            <p>We are sorry, but there's a problem processing your payment for this order. Please retry this payment after some time. </p>
            <p>If you have previously registered with us, <a href="#">click here</a></p>
            
        </div>
    </div>
</div>

