
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section LoadScriptandCss
{
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="~/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <!-- start-smoth-scrolling -->
    <!-- start menu -->
    <link href="~/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/js/megamenu.js"></script>
    <script src="~/js/menu_jquery.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
    <style>
        .tdright {
            text-align:right;
        }
        .tdspace {
            margin-right:50px;
        }
        tr, td {
          padding-right: 15px;
        }
    </style>
}
<div class="reg-form">
    <div class="container">
        <div class="reg">
            <h3><img src="~/images/sucess.png" />Order Confirmation</h3>
            <p>Thank you for shopping with us. Your order has been confirmed and will be shipped to your address in 5-6 days</p>
            <p>Meanwhile you can track your order anytime after order despatch</p>
            <h2>Payment Summary</h2>
            <p>Order #35454</p>
            <div>
                <table align="right">
                    <tr>
                        <td class="tdright tdspace">Item Subtotal</td>
                        <td class="tdright">6175.44</td>
                    </tr>
                    <tr>
                        <td class="tdright tdspace">GST(3%)</td>
                        <td class="tdright">185.26</td>
                    </tr>
                    <tr>
                        <td class="tdright tdspace">Order total</td>
                        <td class="tdright">6361.00</td>
                    </tr>
                </table>
            </div>
            
        </div>
    </div>
    <div class="container">
        <p>Thank you for shopping with us. </p>
        <h2>CP Jewellers</h2>
    </div>
</div>

5